.add {
  .form {
    .input-group {
      display: flex;
      margin-bottom: 15px;
      .label {
        width: 60px;
      }
    }
    .btn {
      width: 100px;
      line-height: 32px;
      text-align: center;
      color: #FFFFFF;
      background: cornflowerblue;
    }
  }
}
